<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!--  Logger Declaration  -->
    <type name="PeachCode\FPCWarmer\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>

    <type name="PeachCode\FPCWarmer\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">FPCWarmer</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">PeachCode\FPCWarmer\Logger\Handler</item>
            </argument>
        </arguments>
    </type>

    <!--  CLI Commands Declaration  -->
	<type name="Magento\Framework\Console\CommandList">
		<arguments>
			<argument name="commands" xsi:type="array">
				<item name="GenerateQueue" xsi:type="object">PeachCode\FPCWarmer\Console\Command\GenerateQueue</item>
				<item name="ProcessQueue" xsi:type="object">PeachCode\FPCWarmer\Console\Command\ProcessQueue</item>
			</argument>
		</arguments>
	</type>

    <!--  Interface Declaration  -->
    <preference for="PeachCode\FPCWarmer\Api\Warmer\GenerateQueueInterface"
                type="PeachCode\FPCWarmer\Model\Queue\QueueGenerator"/>

</config>
