<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="PeachCode" translate="label" sortOrder="10">
            <label>PeachCode Extensions</label>
        </tab>
        <section id="module_fpcwarmer" translate="label" type="text" sortOrder="10" showInDefault="1"
                 showInWebsite="0" showInStore="0">
            <label>Full Page Cache Warmer</label>
            <tab>PeachCode</tab>
            <resource>PeachCode_FPCWarmer::FPCWarmer</resource>
            <group id="module_status" translate="label" type="text" sortOrder="10" showInDefault="1"
                   showInWebsite="0" showInStore="0">
                <label>General</label>
                <field id="status" translate="label" type="select" sortOrder="1" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Module Status</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
            </group>
            <group id="sitemap_array" translate="label" type="text" sortOrder="20" showInDefault="1"
                   showInWebsite="0" showInStore="0">
                <field id="sitemap" translate="label" type="select" sortOrder="1" showInDefault="1">
                    <label>Add Sitemap Url</label>
                    <frontend_model>PeachCode\FPCWarmer\Block\Adminhtml\Menu\Field\SitemapMatrix</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment>Please add site map url. Example: https://www.site.com/pub/media/sitemap.xml</comment>
                    <depends>
                        <field id="module_fpcwarmer/module_status/status">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
